<div #$todo class="todo">
  <form [formGroup]="formGroup" class="todo__form" [ngSwitch]="currentMode">
    <mat-checkbox
      (change)="save(false)"
      formControlName="isDone"
      class="todo__checkbox"
    >
      <span class="todo__text" *ngSwitchCase="'show'">
        {{ todoControl.value }}
      </span>
    </mat-checkbox>

    <div class="todo__mode-container" *ngSwitchCase="'edit'">
      <mat-form-field>
        <input
          #myInput
          (keyup)="handleKeyPress($event)"
          [formControl]="todoControl"
          matInput
        />
      </mat-form-field>
    </div>
  </form>

  <button (click)="edit()" class="todo__btn todo__btn--edit">
    <mat-icon>{{ currentMode === "edit" ? "check" : "edit" }}</mat-icon>
  </button>
  <button (click)="delete.emit(todo.id)" class="todo__btn todo__btn--delete">
    <mat-icon>delete</mat-icon>
  </button>
</div>
