@import "variables";
@import "mixins";
@import "functions";
@import "colors";
@import "media";

$mobile-size: 300px;

.header {
  padding: rem(20);
  @include flex-center(column);
  min-height: rem(200);
  background-color: $color-surface;
  width: 100%;

  @include medias($tiny-mobile, $mobile, $small-tablet) {
    border-radius: $global-radius;
  }

  &__title {
    @include tiny-mobile {
      font-size: rem(18);
    }
  }

  &__subtitle {
    @include tiny-mobile {
      font-size: rem(11);
    }
  }

  &__title,
  &__subtitle {
    color: $color-title-on-surface;
  }

  &__btn {
    background-color: transparent;
    outline: none;

    mat-icon {
      cursor: pointer;
      user-select: none;
      color: white;

      &:hover {
        color: $color-primary;
      }
    }

    &:disabled {
      cursor: not-allowed;
    }

    &:disabled mat-icon {
      cursor: not-allowed;
    }
  }

  mat-form-field {
    width: rem(500);

    @include medias($tiny-mobile, $mobile, $small-tablet) {
      width: 100%;
    }
  }
}

.form {
  width: rem(500);

  @include medias($tiny-mobile, $mobile, $small-tablet) {
    width: 100%;
  }

  &--filter {
    display: flex;
    justify-content: space-between;

    @include tiny-mobile {
      flex-direction: column;
    }

    mat-form-field {
      width: 100%;

      @include medias($mobile, $small-tablet) {
        &:first-of-type {
          min-width: rem(120);
        }
      }
    }

    mat-form-field + mat-form-field {
      margin-left: rem(20);

      @include tiny-mobile {
        margin-left: 0;
      }
    }
  }
}
