// mat-form-field outline label

.mat-form-field-appearance-outline.mat-focused .mat-form-field-label {
  color: $color-primary;
}

.mat-form-field-appearance-outline .mat-form-field-label {
  color: #ada5a5;
}

.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: $color-primary;
}

.mat-form-field-label {
  color: white;
}

//mat-form-field underline

.mat-form-field-ripple,
.mat-form-field-ripple.mat-accent,
.mat-form-field-underline,
.mat-form-field-appearance-fill .mat-form-field-underline::before {
  background-color: $color-primary !important;
}

.mat-input-element,
.mat-select-value {
  color: white !important;
  caret-color: $color-primary;
}

.mat-form-field-appearance-outline:hover .mat-form-field-outline {
  color: $color-primary;
}

.mat-input-element::placeholder {
  color: #888888;
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: $color-primary;
}

.mat-form-field.mat-focused .mat-select-arrow {
  color: $color-primary !important;
}

.mat-option:not(.mat-selected) .mat-option-text,
.mat-select-arrow {
  color: white;
}

.mat-select-panel {
  background: rgb(105, 103, 103);
}
