@import "variables";
@import "mixins";
@import "colors";
@import "material";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: $color-background;
  font-family: $font-primary;
}

* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  @each $name, $color in $project-colors {
    --color-#{$name}: #{$color};
  }
}

:root.dark-mode {
  @each $name, $color in $project-colors-theme-dark {
    --color-#{$name}: #{$color};
  }
}
